#seo-title-charcount{color:blue;}
#seo-description-charcount{color:blue;}
#seo-analysis-seo-detailslimarkup > ul >li >img{border:none;}
#seo-analysis-seo-detailslimarkup > ul >li {font-size: 13px;    list-style: none;}
#iconlevel{border:none;}
.message-bad-seo{color:red;font-weight:bold;font-size: 12px;}
.message-good-seo{color:green;font-weight:bold;font-size: 12px;}
.message-notgood-seo{color:yellow;font-weight:bold;font-size: 12px;}
#seo-analysis-details-limarkup{font-size:13px;}
#snippet-preview-description{font-size:14px;color:#000000;}
#snippet-preview-title{font-size:22px;color:#000080;}  
#snippet-preview-url{font-size:14px;color:#008000;}